<!DOCTYPE html>
<html lang="'ja">
    <head>
        <meta charget="'UTF-8">
        <title>NASゲー報告アプリ</title>

    </head>
    <body>
        <form method="post" action="{{ url_for('recode')}}" enctype="multipart/form-data">
         <h1>NASゲー報告フォーム</h1>
         <p>概要 : <input type="text" name="content1" hight=200 width=500></p>
         <p>匿名 : <input type="checkbox" name="checklist1"></p>
         <p>画像選択 : <input type="file" name="imagefiles" multiple accept="image/*" max="4"></p>
         <input type="submit" value="送信">
        </form>
    </body>
